@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

</div>

<div class="row">

    <table>
        <tr>
            <th> ID    </th>
            <th>Name   </th>
            <th>Price   </th>
        </tr>
        @foreach (Product p in Model)
        {
            <tr>
                <td>
                    @p.ID
                </td>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Price
                </td>
            </tr>
        }
    </table>
</div>
