@page
@model EmployeeManagement.Web.Pages.Employee.CreateModel
<br />
<h2 class="text-info">Create Employee</h2>
<br />

<div class="border container" style="padding:30px">
    <form method="post">


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Employee.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Name" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Employee.Department"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Department" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Department" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Employee.Designation"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Designation" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Designation" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Employee.JoinDate"></label>
            </div>
            <div class="col-6">
                <input type="date" asp-for="Employee.JoinDate" class="form-control" />
            </div>
            <span asp-validation-for="Employee.JoinDate" class="text-danger"></span>
        </div>
       
        <div class="form-group row">
            <div class="col-3 offset-2">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>

</div>

@*Client Validation *@

@section Scripts{

    <partial name="_ValidationScriptsPartial.cshtml" />
}

